html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

*:focus {
  outline: none; }

main {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.rowOne button {
  color: white;
  background: #68B25B;
  height: 2em;
  border-top: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-left: none;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowOne button:last-child {
    margin-right: 0; }

.rowOne div {
  text-align: right;
  padding: 3% 3% 0 0;
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin: 0; }
  .rowOne div:last-child {
    margin-right: 0; }

.rowTwo button:nth-child(1) {
  color: white;
  background: #68B25B;
  height: 2em;
  border-top: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-left: none;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowTwo button:nth-child(1):last-child {
    margin-right: 0; }

.rowTwo button:nth-child(2) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowTwo button:nth-child(2):last-child {
    margin-right: 0; }

.rowTwo button:nth-child(3) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowTwo button:nth-child(3):last-child {
    margin-right: 0; }

.rowTwo button:nth-child(4) {
  color: black;
  background: #85C07B;
  height: 2em;
  border: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.92315%;
  margin: 0; }
  .rowTwo button:nth-child(4):last-child {
    margin-right: 0; }

.rowThree button:nth-child(1) {
  color: white;
  background: #68B25B;
  height: 2em;
  border-top: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-left: none;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowThree button:nth-child(1):last-child {
    margin-right: 0; }

.rowThree button:nth-child(2) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowThree button:nth-child(2):last-child {
    margin-right: 0; }

.rowThree button:nth-child(3) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowThree button:nth-child(3):last-child {
    margin-right: 0; }

.rowThree button:nth-child(4) {
  color: black;
  background: #85C07B;
  height: 2em;
  border: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.92315%;
  margin: 0; }
  .rowThree button:nth-child(4):last-child {
    margin-right: 0; }

.rowFour button:nth-child(1) {
  color: white;
  background: #68B25B;
  height: 2em;
  border-top: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-left: none;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowFour button:nth-child(1):last-child {
    margin-right: 0; }

.rowFour button:nth-child(2) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowFour button:nth-child(2):last-child {
    margin-right: 0; }

.rowFour button:nth-child(3) {
  color: white;
  background: #68B25B;
  height: 2em;
  border: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin: 0; }
  .rowFour button:nth-child(3):last-child {
    margin-right: 0; }

.rowFour button:nth-child(4) {
  color: black;
  background: #85C07B;
  height: 2em;
  border: 1px solid #A9D4A3;
  border-right: 1px solid #A9D4A3;
  border-bottom: 1px solid #A9D4A3;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27.92315%;
  margin: 0; }
  .rowFour button:nth-child(4):last-child {
    margin-right: 0; }
